        <p>&copy; 2026 UNC Charlotte ASA; Designed by Vanita Rabsatt</p>
        <p>
            <a href="https://www.instagram.com/cltasa/" target="_blank">Instagram</a> |
            <a href="https://ninerengage.charlotte.edu/organization/asian-student-association"
                target="_blank">NinerEngage</a> |
            <a href="https://linktr.ee/CLTASA" target="_blank">Linktree</a>
        </p>
        <p>
            <a href="https://validator.w3.org/nu/" target="_blank">HTML Validator</a> |
            <a href="https://jigsaw.w3.org/css-validator/" target="_blank"> CSS Validator</a>
        </p>